html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
}
.mapboxgl-ctrl-top-right {
  /* left: 0; */
  right: 0;
  top: 150px;
  color: #000000;
}

#corner-button {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  left: 10px; /* Adjust the left position as needed */
  z-index: 1000; /* Ensure the button is above the map */
}

#corner-button button {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #000000;
}

#corner-button button:hover {
  background-color: #f0f0f0;
}